<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academia Bem Estar</title>
	<link rel="stylesheet" type="text/css" href="/sacademia/AcademiaBemEstar.css" />
</head>
<body>
     <header>
	  <img src="/sacademia/img/AcademiaBemEstar.jpeg" alt="Logo da Minha Empresa">
	 </header>
	 <body background="/sacademia/img/fundo.jpeg">
	 
    <div class="container">
    <h1>Academia Bem Estar</h1>
	<h2>Cadastro</h2>
      
        <form>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>
			
			 <label for="cpf">CPF:</label>
              <input type="text" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" id="cpf" name="cpf" maxlength="14" placeholder="___.___.___-__" required>
			  
			  <p>Sexo:</p>
			  <label>
			  <input type="radio" name="sexo" required="required" checked="checked" value="masculino"> Masculino
			  </label>
			  
			  <label>
			  <input type="radio" name="sexo" required="required" value="feminino"> Feminino
			  </label>
			  
			  <label for="datanasc">Data De Nascimento:</label>
			  <input type="date" id="datanasc" name="datanasc" required> 
			  
			
			 <label for="tel">Telefone:</label>
            <input type="tel" id="tel" maxlength="12" placeholder="(xx) xxxxx-xxxx" name="tel" required>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>
	
            <input type="submit" value="Cadastrar">
        </form>
    </div>
</body>
</html>